<div id="helper-classes" class="page-layout simple tabbed" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Helper Classes</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Padding & Margin Helpers">

                <helper-classes-padding-margin></helper-classes-padding-margin>

            </mat-tab>

            <mat-tab label="Width & Height Helpers">

                <helper-classes-width-height></helper-classes-width-height>

            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
